<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">About</h3>
        </div>
        <div class="card-body">          

            <div style="float: left;">

              <img src="../../assets/images/profile.png">
            </div>
     
         

          
          <div style="float: left; margin: 50px;">
            <h4 style="color: azure;">Address</h4>      
              
                    <label for="Name">Id : </label> {{id}}<br />
                    <label for="cardNo">Email : </label> {{emailid}}
                            
             
          </div>
        </div>
      </div>

    </div>


  </div>
</div>

